{% extends 'reservas/layout.html' %}

{% block title %}Reserva a nombre de {{ reserva.nombre }} {{ reserva.apellidos }}{% endblock %}
{% block page_title %}Detalle de la reserva{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Nombre:</strong> {{ reserva.nombre }} {{ reserva.apellidos }}
        </div>
        <div class="panel-body">
            <p><strong>Teléfono:</strong> {{ reserva.telefono }}</p>
            <p><strong>Comensales:</strong> {{ reserva.comensales }}</p>
            <p><strong>Comentarios:</strong> {{ reserva.comentarios }}</p>
        </div>
        <div class="panel-footer">
            <strong>Fecha:</strong> {{ reserva.fecha }}
        </div>
    </div>

{% endblock %}
