<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ descripcion }}">
    <meta name="author" content="Carlos Rodríguez López">

    <title>{{ title }}</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- SB Admin -->
    <link href="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- CSS del Datepicker -->
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <link href="/app/Assets/css/reservas.css" rel="stylesheet" type="text/css"/>

</head>

<body id="page-top">

<div id="wrapper">

    <sidebar></sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <topbar></topbar>

            <page-content></page-content>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>PWA - Reto 4. Carlos Rodríguez López</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>




<!-- Bootstrap Core JavaScript -->
<script src="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/vendor/BlackrockDigital/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>



<!-- Vue -->
<!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- versión de producción, optimizada para tamaño y velocidad -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<script src="https://unpkg.com/vuex@3.4.0/dist/vuex.js"></script>


<!-- Componentes -->
<script src="/app/Componentes/sidebar.js"></script>
<script src="/app/Componentes/topbar.js"></script>
<script src="/app/Componentes/page-content.js"></script>
<script src="/app/Componentes/reservas-table.js"></script>


<!-- Vue app -->
<script type="module" src="/app/Assets/js/app.js"></script>



<!--  Datepicker  -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"
        integrity="sha256-YZhUu69bCn9uTqQyKwwQ3GyRypS7eaxp/wmVS282sDI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/messages/messages.es-es.min.js"
        integrity="sha256-aYHjwzEPrf61GO3O1gmS3VQd/X5a5bAFvhn/9YB3IYo=" crossorigin="anonymous"></script>
-->
<!--  SweetAlerts  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9" crossorigin="anonymous"></script>








<!-- Page level plugins -->

<!-- Page level custom scripts -->


</body>
</html>
